*{
    margin: 0;
    padding: 0;
    font-family: "poppins" , sans-serif;
    box-sizing: border-box;
}

body{
    background-image: url('https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;

}

.card{
    height: 100%;
    width: max-content;
    background-color: #8801e8;
    border-radius: 10px;
    background-size: cover;

}
.serach{
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    
}
.serach input{
    background: #ebfffc;
    border-radius: 10px;
    

}

.serach button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-left: 10px;

}

.serach button img{
    width: 16px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 40px;
    margin-right: 20px;
}

p{
    margin: 0;
}

.weather h1{
    color: white;
    font-weight: bold;
}

.weather h2{
    color: white;
    font-weight: bold;
}


.wind{
    color: white;
    font-weight: bold;
}

p{
    color: white;
}

.errors{
    text-align: left;
    margin: 10px;
    color: pink;
    display: none;
    

}

.error{
    text-align: left;
    margin: 10px;
    color: pink;
    display: block;
    

}

.weather{
    display: none;
}


.weathers{
    display: block;
}